<div style="position: absolute; bottom: 0;right: 0;width: 20%">
    <md-button aria-label="menu" class="md-fab md-primary">
      <ng-md-icon icon="done"></ng-md-icon>
    </md-button>
</div>
  <!--<md-fab-toolbar md-open="demo.isOpen" count="demo.count" md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <a href="#/app/cam">
          <md-button aria-label="comment" class="md-icon-button">
            <ng-md-icon icon="photo_camera" style="fill:white;"></ng-md-icon>
          </md-button>
        </a>

        <a href="#/app/form">
          <md-button aria-label="label" class="md-icon-button" ng-click="count = count + 1">
            <ng-md-icon icon="insert_comment" style="fill:white;"></ng-md-icon>
          </md-button>
        </a>

        <a href="#/app/map">
          <md-button aria-label="photo" class="md-icon-button"">
          <ng-md-icon icon="place"></ng-md-icon>
          </md-button>
        </a>

      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>-->

