<ion-view view-title="Formulario">
  <ion-content>

    <md-content style="height: 100%">

      <div class="z-position-1" style="width: 100%; height: 40%; background-color: #3e4f56">
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="width: auto; height: 100%;margin-left: 25%;">

        <div style="position: absolute; bottom: 3%;right: 0;">
          <md-button aria-label="menu" class="md-fab md-primary colorApp" ng-click="tomarFoto()">
            <ng-md-icon icon="add_a_photo"></ng-md-icon>
          </md-button>
        </div>
      </div>

      <div class="z-position-1" style="width: 100%; height: 60%;bottom: 0">
        <div class="row">
          <div class="col col-60">
            <md-input-container>
              <label>Categoria</label>
              <md-select name="opci" ng-model="x" required="">
                <md-option value={{j}} ng-repeat="j in categoriaSenales" ng-click="seleccionCategoria(j.id, j.name)">{{j.name}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col col-40">
            <img ng-src="{{iconSenal}}" style="width: 50%;">
            <br>
         <label>{{nameSenal}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <div class="row" ng-repeat="i in opcMuestra">
              <div class="col"  ng-if="$even">
                <form name="projectForm" flex-offset="10" flex="66">
                  <md-input-container>
                    <label>{{i.name}}</label>
                    <md-select name="opci" ng-model="x" required="">
                      <md-option ng-repeat="x in i.opc" value={{x.name}}
                                 ng-click="seleccionFormulario(i.id,x.name)">{{x.name}}</md-option>
                    </md-select>
                  </md-input-container>

                </form>
              </div>
            </div>
          </div>
          <div class="col col-50">
            <div class="row" ng-repeat="i in opcMuestra">
              <div class="col"  ng-if="$odd">
                <form name="projectForm" flex-offset="10" flex="66">
                  <md-input-container>
                    <label>{{i.name}}</label>
                    <md-select name="opci" ng-model="x" required="">
                      <md-option ng-repeat="x in i.opc" value={{x.name}}
                                 ng-click="seleccionFormulario(i.id,x.name)">{{x.name}}</md-option>
                    </md-select>
                  </md-input-container>
                </form>
              </div>
            </div>
          </div>
        </div>


        <md-input-container class="layout-margin">
          <label>Observaciones</label>
          <textarea ng-model="$parent.textObservaciones"></textarea>
        </md-input-container>
        <a href="#/app/map" ng-click="enviarFormulario()">
          <div style="position: fixed; bottom: 3%;right: 0;">
            <md-button aria-label="menu" class="md-fab md-primary colorApp">
              <ng-md-icon icon="done"></ng-md-icon>
            </md-button>
          </div>
        </a>
    </div>



     <div id="contenedorTipoSenal" class="z-position-2"
           style="">
        <div ng-repeat="senal in senales" ng-if="$index % 3 == 0" class="row row-senal">
          <div class="col-30 item-senal" ng-click="seleccionSenal(senales[$index].id,senales[$index].img,senales[$index].nombre)">
            <img ng-src="{{senales[$index].img}}">
            <p>{{senales[$index].nombre}}</p>
          </div>
          <div class="col-30 item-senal" ng-click="seleccionSenal(senales[$index + 1].id,senales[$index+1].img,senales[$index+1].nombre)">
            <img ng-src="{{senales[$index + 1].img}}">
            <p>{{senales[$index + 1].nombre}}</p>
          </div>
          <div class="col-30 item-senal" ng-click="seleccionSenal(senales[$index + 2].id,senales[$index+2].img,senales[$index+2].nombre)">
            <img ng-src="{{senales[$index + 2].img}}">
            <p>{{senales[$index + 2].nombre}}</p>
          </div>

        </div>

      </div>

    </md-content>

  </ion-content>

</ion-view>
