<ion-view view-title="Mapa">

  <ion-content>
    <!--para mostrar el mapa y centrarlo -->
    <div id="map"></div>
    <!--  <leaflet id="map" center="center" defaults="defaults" layers="layers" markers="markers" widht="100%" height="100%">
    </leaflet>-->

      <div style="position: absolute; bottom: 9% ;right: 0;width: 17%">


    <div>
      <div style="position: absolute; bottom: 13% ;right: 0;">

          <md-button aria-label="menu" class="md-fab md-mini" style="background-color: white;bottom:8%" ng-click="centrarMapa()">
            <ng-md-icon icon="my_location" class="colorApp"></ng-md-icon>
          </md-button>

      <a href="#/app/form">
          <md-button aria-label="menu" class="md-fab md-primary colorApp" style="bottom:8%; right: 10%;">
            <ng-md-icon icon="done"></ng-md-icon>
          </md-button>
      </a>
    </div>
      </div>
  </ion-content>
</ion-view>
