<ion-side-menus enable-menu-with-back-views="false" ng-controller="MenuCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">

          <md-button aria-label="menu" class="md-no-focus" menu-toggle="left">
              <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
          </md-button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content>
      <div>
        <img src="./img/usert.png" class="img-user-menu rounded">
      </div>
      <div class="md-accordion" ng-repeat="section in sections">
        <md-toolbar>
          <div class="md-toolbar-tools" ng-model=collapse>
            <h2><span class="ng-binding">{{section.name}}</span></h2>
          </div>
        </md-toolbar>
        <div ng-repeat="i in section.pages" ng-show="collapse">
          <p ng-class='{open:show}'>{{i.name}}</p>
        </div>

      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

