
.starter.controllers md-fab-toolbar.md-right md-fab-trigger.align-with-text {
    left: 7px; }

html, body {
  height: 100% !important;
}

.divMap{
  width: 100%;
  height: 100% !important;
}

.leaflet-bottom
{
  top: 0 !important;
}
.scroll
{
  height: 100%;
}
